.accordion{
    width: 400px;
    border: 1px solid rgb(202, 202, 202);
    padding: 10px;
   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    min-height: 50px;
    transition: all .2s ease;
    &:hover{
        cursor: pointer;
          border:1px solid rgb(148, 148, 148);
    }


      &_summary{
        height: 40px;
        display: flex;
        align-items: center;
      
        justify-content: space-between;
       
        &_open{
            transition: all 0.5s ease;
            transform: rotate(180deg);  
            font-size: 24px;
            align-self: flex-start;
        }

        &_close{
            transition: all 0.5s ease;
            transform: rotate(0deg);  
            font-size: 20px;
            color: darkslategrey;
            align-self: flex-start;
        }
      }



    &_content{
        overflow: hidden;
        animation: fadeIn 1s 1;
        transition: all .2s ease;
        color: rgb(65, 65, 65);
    }
}


@keyframes fadeIn{
    0%{
        opacity: 0;
        transform: translateY(-10px);
    }
    100%{
      transform: translateY(0);
        opacity: 1;
    }
}

@media screen and (max-width:430px) {
    .accordion{
        width: 90vw;
    }
    
}