@font-face {
    font-family: 'GeorgiaCustom';
    src: url('../../public/fonts/georgiab.ttf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'GeorgiaCustomClassic';
    src: url('../../public/fonts/georgia.ttf');
    font-style: normal;
    font-weight: normal;
}


.logo{
   font-family: 'GeorgiaCustom';
   font-size: 1.9rem;
   text-transform: uppercase;
   font-weight: bold;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: 100px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    background: whitesmoke;
     z-index: 1000; 

    &_locale{
        letter-spacing: 1px;
        font-size: 0.8rem;
        
    }
    & nav{
        
        & ul{
            font-size: 0.8rem;
            letter-spacing: 1px;
            font-family: 'GeorgiaCustom';
            display: flex;
            gap: 15%;
            align-items: center;
            text-transform: uppercase;
           
        }
      
    }
   
    &_actions{
        display: flex;
        align-items: center;
        width: 120px;
        justify-content: space-between;
    }
    & .mobile_v_button{
        background: none;
        border: none;
        outline: none;
        display: none;
    }
}

.mobile_nav{
    position: fixed;
    top: 0;
    right: 0;
    width: 70vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    color: white;
    background: rgba(0, 0, 0, 0.747);
    backdrop-filter: blur(20px);
    font-family: 'Arial';
    text-transform: uppercase;
    animation: swipeToLeft 1s 1;
    font-family: 'GeorgiaCustom';
    font-size: 0.8rem;
    & ul{
        display: flex;
        flex-direction: column;
        height: 30%;
        justify-content: space-evenly;
        text-align: right;
    }
}

.home{
    margin: 100px 0;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    min-height: 100vh;
   
    &_portret{
        animation: slowUp 2s 1;
        position: relative;
        width: 634px;
        height: 916px;
    }

    &_desc{
        animation: slowDown 2s 1;
        font-family: "GeorgiaCustom";
        height: 916px;
        width: 634px;
        padding: 40px;
        background-color: black;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        position: relative;
            &:after{
            content: '';
            animation: morph 10s infinite linear;
            width: 180px;
            height: 180px;
            border-radius: 165px 150px 170px 60px;
            filter: blur(80px);
            background: rgb(172, 172, 172);
            position: absolute;
            left: calc(50% - 100px);
            top: calc(37% - 100px);
            }

        &_name{
            text-transform: uppercase;
            font-size: 3rem;
        }

        &_title{
            font-size: 1.5rem;
        }
        &_skills{
            display: flex;
            flex-direction: column;
            gap: 10px;
            height: 50px;
        }
       
    }
}

.services{
    font-family: "GeorgiaCustom";
    min-height: 100vh;
    display: flex;
    
    &_heading{
        width: 50%;
        font-size:2rem;
    }

    &_list{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

}

@keyframes slowUp{
    0%{
        opacity: 0;
        transform: translateY(-200px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes slowDown{
    0%{
        opacity: 0;
        transform: translateY(200px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes morph {
    0% {
      border-radius: 40% 60% 70% 30% / 30% 70% 60% 40%;
      transform: translate(0, 0) scale(1);
    }
    25% {
      border-radius: 60% 40% 50% 50% / 50% 60% 40% 60%;
      transform: translate(-50px, 20px) scale(1.1);
    }
    50% {
      border-radius: 50% 50% 60% 40% / 60% 50% 40% 50%;
      transform: translate(50px, -30px) scale(1.2);
    }
    75% {
      border-radius: 70% 30% 40% 60% / 40% 60% 30% 70%;
      transform: translate(-20px, -50px) scale(1.1);
    }
    100% {
      border-radius: 40% 60% 70% 30% / 30% 70% 60% 40%;
      transform: translate(0, 0) scale(1);
    }
  }
@keyframes swipeToLeft{
    0%{
        transform: translateX(70vw);
    }
    100%{
        transform: translateX(0);
    }
}
  
@media screen and (max-width:1329px){
           
            
            .home{
                justify-content: space-evenly;
                    &_portret{
                        width: 434px;
                        height: 616px;
                    }

                    &_desc{
                        width: 434px;
                        height: 616px;
                    }
            }
        
    }

@media screen and (max-width:976px){
        .header{
            padding: 20px;
            justify-content: space-between; 
            & nav{
                display: none;
            }

            & .mobile_v_button{
                display: block;
            }
        }
        
        .home{
            justify-content: space-evenly;
                &_portret{
                    width: 326px;
                    height: 462px;
                }

                &_desc{
                    width: 326px;
                    height: 462px;
                  
                    &_title{
                        font-size: 1rem;
                    }
                }
        }

    }

@media screen and (max-width:640px){
   
        
        .home{
            flex-wrap: wrap;
                

            
        }

    }

@media screen and (max-width:480px){
   .logo{
    font-size: 1.3rem;
   }
    
    .home{
        flex-wrap: wrap;
        gap: 10px;
        
    }

}

@media screen and (max-width:375px){
    .header{
     
        &_locale{
            font-size: 0.6rem;
        }
        &_actions{
            justify-content: flex-end;
            gap: 5px;
        }
    
    }
    
    .home{
        flex-wrap: wrap;
    }

}
