.notification{
    position: fixed;
    width: 400px;
    height: 150px;
    left: calc(50% - 200px);
    top: calc(50%  - 75px);
    background: linear-gradient(120deg,rgb(29, 29, 29),black);
    color: white;
    padding: 30px;
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 35px;
    animation: blink 4s 1 forwards;
    z-index: 1000;
}

@media screen and (max-width:480px) {
    .notification{
        left: calc(50% - 40vw);
        width: 80vw;
        font-size: 0.8rem;
    }
}

@keyframes blink{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
